<!doctype html>
<html style="min-height:auto">
<head>
    <title>chrome-extension-template</title>
    <script src="popup.js"></script>
</head>
<body>
</body>
<body>
<div style="width:200px; height:300px">
    <p>Edit this template!</p>
    <form autocomplete="off" id="form1">
        <label for="savedField">Generic Field</label>
        <input id="savedField" name="input1"></input>

        <label for="unsavedField">Generic Field 2</label>
        <input id="unsavedField" name="input2"></input>

        <button id="submitForm" class="float-left submit-button">redirect!</button>
    </form>
</div>
</body>
</html>